
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home dashboard" class="container" style="margin-top:25px;">
    <div class="row">
        <div class="col-md-4">&lt;Insert Something Here&gt;</div>
        <div class="col-md-4">&lt;Insert Something Here&gt;</div>
        <div class="col-md-4">&lt;Insert Something Here&gt;</div>
    </div>
    <div class="row">
        <div class="panel panel-default col-md-4">
            <div class="panel-body">
                <h2>Test</h2>
                <p>I really hope it's working.</p>
            </div>
        </div>
        <div class="panel panel-default col-md-4">
            <div class="panel-body">
                <h2>Test 2</h2>
                <p>I hope it's working.</p>
            </div>
        </div>
        <div class="panel panel-default col-md-4">
            <div class="panel-body">
                <h2>Test 3</h2>
                <p>Is this working?</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default col-md-4">

        </div>
    </div>
</div>

<script src="/Scripts/panel.js"></script>