@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The University of Wisconsin</p>
<p>CS 564 Summer 2017</p>
<p>Final Project</p>

<ul>
	<li>Todd Dale</li>
	<li>Matt Gawlik</li>
	<li>Zach Hathaway</li>
</ul>